/* No files to import found in abstractions/**\/* */
body {
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
@media (min-width: 900px) {
  body {
    font-size: 2.5em;
  }
}

.l-dries {
  background: #77ae40;
}
.l-dries img {
  width: 110%;
  height: auto;
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin-left: -5%;
  margin-right: -5%;
  margin-top: -100px;
}
.l-dries .l-wrapper {
  color: #FFFFFF;
  padding: 200px 0;
  text-align: center;
}
.l-dries .l-wrapper a {
  color: #FFFFFF;
}

.l-header {
  position: relative;
}

.l-header__left,
.l-header__right {
  height: 70%;
  width: 50%;
  top: 0;
  position: absolute;
}
@media (min-width: 1500px) {
  .l-header__left,
  .l-header__right {
    height: 95%;
  }
}

.l-header__left {
  background: linear-gradient(to right bottom, #77ae40 50%, rgba(0, 0, 0, 0) 50%);
  left: 0;
}

.l-header__right {
  background: linear-gradient(to left bottom, #000000 50%, rgba(0, 0, 0, 0) 50%);
  right: 0;
}

.l-main {
  background: #000000;
  color: #FFFFFF;
  padding: 70px 0 280px;
  text-align: center;
}

.l-sponsors a {
  color: #77ae40;
}
.l-sponsors h1, .l-sponsors p {
  text-align: center;
}
.l-sponsors p:first-child {
  margin-bottom: 0;
}
.l-sponsors p:not(:first-child):not(:last-child) {
  margin: 0;
}
.l-sponsors p:last-child {
  margin-top: 0;
  margin-bottom: 53.5999984741211px;
}

.l-twitter-feed {
  background-color: #000000;
  color: #FFFFFF;
  padding: 50px 0;
  text-align: center;
}
.l-twitter-feed .twitter-timeline {
  margin: 0 auto !important;
  display: block !important;
}
.l-twitter-feed h2 {
  padding-bottom: 10px;
}

.l-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

/* No files to import found in blocks/**\/* */
.c-logo {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.c-logo__image {
  height: auto;
  width: 100%;
}
