.l-header {
  position: relative;
}

.l-header__left,
.l-header__right {
  height: 70%;
  @include breakpoint($wide) {
    height: 95%;
  }
  width: 50%;
  top: 0;
  position: absolute;
}
.l-header__left {
  background: linear-gradient(to right bottom, $main-color-1 50%, transparent 50%);
  left: 0;
}
.l-header__right {
  background: linear-gradient(to left bottom, $main-color-2 50%, transparent 50%);
  right: 0;
}
