.l-header {
  position: relative;
}

.l-header__left,
.l-header__right {
  height: 100%;
  @include breakpoint($wide) {
    height: 100%;
  }
  width: 50%;
  top: 0;
  position: absolute;
}

.l-header__left {
  background: $green;
  left: 0;
}

.l-header__right {
  background: $black;
  right: 0;
}
