.l-main {
  background: $main-color-2;
  color: $text-inverse;
  padding: 70px 0 280px;
  text-align: center;
  position: relative;
  z-index: 19;
  .view-content {
    display: table;
    margin: 0 auto;
  }
  .views-row {
    float: left;
  }
  .view-header a {
    background-color: $green;
    color: white;
    padding: 12px 20px;
    transition-property: background-color;
    transition-duration: 0.1s;
    &:hover {
      background: darken($green, 20%);
    }
  }
}
