.l-main {
  background: $main-color-2;
  color: $text-inverse;
  padding: 50px 0 150px;
  text-align: center;
}

.l-twitter-feed {
  background-color: $main-color-1;
  padding: 20px 0;
  .twitter-timeline {
    margin: 0 auto!important;
    display: block!important;
  }
}