.l-main {
  background: $main-color-2;
  color: $text-inverse;
  padding: 70px 0 280px;
  position: relative;
  text-align: center;
  z-index: 10;

  .view-content {
    display: table;
    margin: 0 auto;
  }

  .views-row {
    float: left;
  }

  a {
    color: $green;
  }
}
