.l-sponsors {
  background-color: $black;

  a {
    color: $green;
  }

  p {
    color: $white;

    &:first-child {
      padding-top: 130px;
      margin-bottom: 0;
    }

    &:not(:first-child):not(:last-child) {
      margin: 0;
    }

    &:last-child {
      margin-top: 0;
      padding-bottom: 130px;
    }
  }
}

.l-sponsors-lift {
  .view-content {
    display: table;
    margin: 0 auto;
  }

  .views-row {
    float: left;
    padding-right: 50px;
    padding-bottom: 150px;
    height: 250px;
  }
}