.l-sponsors {
  background-color: $black;

  a {
    color: $green;
  }

  p {
    color: $white;

    &:first-child {
      padding-top: 130px;
      margin-bottom: 0;
    }

    &:not(:first-child):not(:last-child) {
      margin: 0;
    }

    &:last-child {
      margin-top: 0;
      padding-bottom: 130px;
    }
  }
}

.l-sponsors-lift {
  .view-content {
    display: table;
    width: 100%;
  }

  .views-row {
    float: left;
    padding-right: 1%;
    padding-bottom: 50px;
    height: 250px;
    display: table;
    width: 99%;

    a {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      max-width: 250px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    &:last-child {
      padding-right: 0;
    }

    @include breakpoint(768px) {
      width: 49%;
    }

    @include breakpoint(1024px) {
      width: 24%;
    }
  }
}